In [14]:
import pandas as pd

dataset =["tdata.csv","fdata.csv", "ccm.csv", "ccmifft.csv"]

path = "D:/prach/"

i=0
for filename in dataset:
    folder = path+filename
    print('{}을 불러옵니다.'.format(filename))
    if i == 0:
        df_tdata =  pd.read_csv(folder)
    if i == 1:
        df_fdata =  pd.read_csv(folder)
    if i == 2:
        df_ccmdata =  pd.read_csv(folder)
    if i == 3: 
        df_ccmifftdata =  pd.read_csv(folder)
    i += 1

tdata.csv을 불러옵니다.
fdata.csv을 불러옵니다.
ccm.csv을 불러옵니다.
ccmifft.csv을 불러옵니다.

In [15]:
df_tdata

,0,1,2,3,4,5,6,7,8,9,...,2039,2040,2041,2042,2043,2044,2045,2046,2047,label
0,-424,242,-441,144,-457,54,-434,-16,-422,-97,...,33,-244,106,-346,146,-110,50,46,6,O
1,-25,679,-151,608,-261,567,-357,495,-414,447,...,263,-20,482,3,313,30,-49,19,0,O
2,630,-125,675,-83,656,4,623,125,570,237,...,40,141,-17,346,-33,469,-32,125,-22,O
3,172,-623,249,-610,324,-556,385,-460,442,-377,...,-17,82,-182,150,-352,159,-416,5,-66,O
4,-511,-436,-477,-505,-404,-556,-290,-598,-156,-597,...,10,-107,-139,-271,-303,-349,-377,-89,-71,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,12,6,1,12,3,24,9,3,28,-7,...,7,33,12,10,9,4,5,11,8,X
1996,34,17,30,7,17,0,13,8,-4,-7,...,0,-7,-8,20,5,24,0,8,-12,X
1997,1,-6,21,-2,18,-8,13,-10,12,-1,...,16,5,4,17,-11,32,7,25,-10,X
1998,16,11,15,21,22,18,15,-12,-14,-12,...,-17,15,4,14,7,28,18,22,11,X
1999,4,-1,-2,-19,17,-23,1,-19,-12,-14,...,-4,25,-11,17,3,26,3,1,-13,X

In [16]:
df_fdata

,0,1,2,3,4,5,6,7,8,9,...,2039,2040,2041,2042,2043,2044,2045,2046,2047,label
0,-930,673,1318,-227,-826,1079,-1027,-792,32,-1251,...,755,295,1274,326,1274,1111,756,646,-1099,O
1,382,1750,488,-1774,739,1563,-1655,645,-1506,-807,...,-903,1725,343,1752,334,1474,-907,-992,-1426,O
2,1652,-289,-1744,-230,1441,-1098,922,1462,-538,1615,...,-1532,210,-1802,164,-1744,-1106,-1324,-1265,1091,O
3,814,-1875,-980,1419,-343,-1663,1606,-228,1151,1119,...,291,-1428,-866,-1416,-904,-1567,353,364,1572,O
4,-1670,-1215,845,1573,-1724,-583,654,-1643,1675,-556,...,1731,-1596,868,-1590,864,-489,1665,1662,360,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,382,157,-52,13,-54,-51,-26,-26,23,14,...,13,-7,13,-2,3,16,30,29,-8,X
1996,451,177,-15,-18,-25,-23,-18,6,-5,-10,...,4,0,0,1,14,27,-18,23,-48,X
1997,510,-68,-37,6,18,4,-17,-2,16,0,...,-16,-14,-4,7,3,12,3,-18,-51,X
1998,382,-156,-19,2,-24,11,-10,11,-7,9,...,18,16,8,37,-17,36,-13,2,34,X
1999,440,-287,-18,-1,-32,41,-26,26,-38,0,...,-24,11,-5,-12,-16,39,-12,23,-46,X

In [17]:
df_ccmdata

,0,1,2,3,4,5,6,7,8,9,...,2039,2040,2041,2042,2043,2044,2045,2046,2047,label
0,-38,103,-41,97,-42,98,-47,93,-44,94,...,0,0,0,0,0,0,0,0,0,O
1,124,75,118,78,122,79,111,83,116,79,...,0,0,0,0,0,0,0,0,0,O
2,126,-70,129,-69,127,-61,128,-62,133,-65,...,0,0,0,0,0,0,0,0,0,O
3,-15,-136,-12,-130,-15,-137,-12,-135,-16,-136,...,0,0,0,0,0,0,0,0,0,O
4,-133,-64,-130,-61,-131,-67,-126,-60,-132,-60,...,0,0,0,0,0,0,0,0,0,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,-2,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,X
1996,0,1,0,-2,1,0,1,0,0,-2,...,0,0,0,0,0,0,0,0,0,X
1997,0,0,-1,0,1,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,X
1998,0,0,0,-1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,X
1999,1,-1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,X

In [18]:
df_ccmifftdata

,0,1,2,3,4,5,6,7,8,9,...,2039,2040,2041,2042,2043,2044,2045,2046,2047,label
0,-393,157,-368,-14,-262,-130,-133,-160,-33,-115,...,198,199,352,41,449,-154,444,-318,335,O
1,-34,512,-200,371,-250,188,-194,42,-86,-17,...,-246,585,-38,584,221,441,442,207,551,O
2,611,-60,533,181,350,328,140,346,-10,260,...,-292,-102,-457,113,-544,360,-496,551,-314,O
3,199,-542,366,-373,405,-159,331,16,197,99,...,63,-453,-113,-428,-337,-275,-523,-38,-602,O
4,-409,-473,-166,-548,61,-483,195,-324,211,-148,...,351,-324,353,-520,225,-623,-9,-584,-272,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,-3,-4,-3,-6,-3,-6,-3,-5,-2,-4,...,-3,-4,-3,-4,-2,-4,-3,-3,-2,X
1996,-2,-3,-3,-4,-3,-4,-4,-4,-4,-4,...,-4,-3,-2,-2,-2,-2,-2,-2,-2,X
1997,-2,-4,-2,-5,-2,-4,-3,-4,-2,-2,...,-3,-4,-2,-3,-2,-3,-2,-4,-2,X
1998,-4,-4,-3,-7,-3,-6,-3,-6,-2,-5,...,-3,-3,-1,-3,-2,-3,-2,-3,-2,X
1999,-3,-5,-3,-6,-3,-5,-3,-5,-3,-4,...,-4,-4,-3,-4,-2,-3,-2,-3,-2,X